@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  prefersdark: true;
  --color-base-100: oklch(0.0532 0.02 29.23);
  --color-base-200: oklch(0.0532 0.03 29.23);
  --color-base-300: oklch(0.0532 0.04 29.23);
  --color-base-content: oklch(1 0.0218 29.23);
  --color-primary: oklch(55% 0.3 240);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.5725 0.2332 29.48);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(0.1776 0 0);
  --color-info-content: oklch(0.1776 0.1 0);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
html {
  scroll-behavior: smooth;
}

