---
const today = new Date();
---

<footer
  class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10"
>
  <aside>
    <p>Built by Human</p>
    <p>
      Copyright © {new Date().getFullYear()} - Calem's Developer Portfolio. All rights
      reserved.
    </p>
  </aside>
</footer>
