---
import HeaderLink from './HeaderLink.astro';
import { SITE_AUTHOR, SITE_TITLE } from '../consts';
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost flex items-center gap-0 border hover:border-accent rounded">
      <span class="text-xl text-accent">&lt;Dev</span>
      <span class="text-xl text-white">/&gt;</span>
    </a>
  </div>

  <div class="navbar-end">
    {/* Desktop */}
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a class="link link-hover hover:text-accent" href="/">Home</a></li>
        <li><a class="link link-hover hover:text-accent" href="/about">About</a></li>
        <li><a class="link link-hover hover:text-accent" href="/blog">Projects</a></li>
        <li><a class="link link-hover hover:text-accent" href="/contact">Contact</a></li>
      </ul>
    </div>

    {/* Mobile */}
    <div class="dropdown dropdown-end lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>

      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-52 p-2 shadow">
       <li><a class="hover:text-accent" href="/">Home</a></li>
        <li><a class="hover:text-accent" href="/about">About</a></li>
        <li><a class="hover:text-accent" href="/blog">Project</a></li>
        <li><a class="hover:text-accent" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>